<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Savvy mom</h1>
      <h2>Wonder what's on special this week?</h2>
    </div>

    <%= render 'posts/filter' %>
  </div>
</div>